.projectsSide{
    margin-top: 4vh;
    margin-left: 2vw;
    flex: .25;
    width: 240px;
    &-title{
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    ul{
        margin-top: 2vh;
        margin-left: 1vw;
        margin-bottom: 1vh;
        .projectName{
           // margin-top: 1vh;
            background: white;
            padding: 10px;
            list-style: none;
            border-radius: 5px;
            width:200px;
            cursor: pointer;
            display: flex;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
            margin-top: 1vh;
            width:220px;
            border-radius: 5px;
            background-color: white;
            border-left: white solid 10px ;
        }
        .active{
            border-left: royalblue solid 10px !important;
        }
        .singleProject{
            cursor: pointer;
            display: flex;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
            margin-top: 1vh;
            width:220px;
            border-radius: 5px;
            background-color: white;
        }
    
    }
}