
.popUp{
    transition: opacity  .3s ease-in-out ;
    background: rgba(0, 0, 0, 0.83);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top:0;
     display: flex;
   
   &-form{
       margin: auto;
       background-color: white;
       width: 50vw;
       height: fit-content;
       padding: 50px;
       border-radius: 15px;
       display: flex;
       flex-direction: column;
       align-content: center;
       &_input{
           margin-top: 2vh !important;
       }
       h2{
           width: fit-content;
           align-self: center;
       }
       &_button{
           margin-top: 2vh !important;
           
       }
   }
}
