.updateProfile{
margin: auto;
margin-top: 4vh;
margin-bottom: 5vh;
background: white;
width: 75vw;
height: fit-content;
padding: 50px;
border-radius: 15px;
box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);}