.profile {
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 5vh;
  background: white;
  width: 75vw;
  height: fit-content;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
  .avatarSection {
    display: flex;
    margin-left: 2vw;
    &-imageContainer {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      .image {
        height: 100%;
      }
    }
    .button {
      margin-left: 5vw;
      width: fit-content;
      margin-top: 1vh;
      
    }
    &-controls{
      align-self: center;
      display: flex;
      flex-direction: column;
      
    }
    &-imgName{
      display: flex;
      flex-direction: column;
      align-items: center ;
      .employeeName{
        margin-top: 1vh;
      }
    }
  }
  .position {
    margin-top: 4vh;
    margin-left: 2vw;

    &-text {
      margin-right: 4vw;
    }
  }
  .aboutMe {
    margin-top: 4vh;
    margin-left: 2vw;
    &-text {
      width: 65vw;
    }
  }
  .title {
    margin-bottom: 2vh;
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 2vw;
    margin-top: 4vh;
    .skills-list{
      display: flex;
      flex-wrap: wrap;
      
    }
    .skills-paper {
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 400px;
      height: 200px;
      .skill {
        padding: 10px;
        background-color: royalblue;
        color: white;
        display: flex;
        justify-content: space-between;
        width: 150px;
        margin: 5px;
        border-radius: 4px;
        .skill-taile {
          display: flex;
          .divider {
            height: 100%;
            width: 1px;
            background-color: white;
            margin-right: 5px;
          }
        }
      }
    }
  }
  input , textArea{
    cursor: default;
    caret-color: transparent;
  }
}
