.services{
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 5vh;
    background: white;
    width: 75vw;
    height: 80vh;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
    &-sidebar{
        margin-left: 2vw;
        margin-top: 10vh;
        li{
            list-style: none;

            background: white;
            padding: 10px;
            list-style: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width:200px;
        }
        .stamp{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: white;
            width: 10px;
        }
        .listItem{
            margin-left: 1vw;
            cursor: pointer;
            display: flex;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
            margin-top: 1vh;
            width:220px;
            border-radius: 5px;
            background-color: white;
        }
        .active{
            background: royalblue;
        }
        &_manager{
            margin-top:5vh;
        }
    }
}
.cardsContainer{
    display: flex;
.leaveCard{
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 5vh;
    margin-left: 4vw;
    background: white;
    width: 35vw;
    height: fit-content;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
    &-title{
        margin-bottom: 2vh;
    }
    &-fild{
        width: fit-content;
        margin: 1vw !important ;
        
    }
    &-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}}