@import 'config';
@import 'sidebar';
@import 'nav';
@import 'home';
@import 'login';
@import 'signup';
@import './profile/profileIndex';
@import './services/servicesIndex';
@import './projects/projectsIndex';
.mainContent{
    display: flex;
    padding-top: 120px;
}
.dontDisplay{
    display: none;
}